{% extends 'layouts/main.twig' %}

{% block title %}Add New Post{% endblock %}

{% block body %}
    <div class="col-sm-10">
        <form action="{{ path_for('dashboard.add.post') }}" method="post" enctype="multipart/form-data">
            <fieldset>
                <div class="form-group">
                    <label class="FieldInfo" for="title">Title:</label>
                    <input class="form-control" type="text" name="Title" id="title" placeholder="Title">
                </div>
                <div class="form-group">
                    <label class="FieldInfo" for="category">Category:</label>
                    <select class="form-control" name="Category" id="category">
                        {% for o in data %}
                        <option>{{ o.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label class="FieldInfo" for="imageselect">Select Image:</label>
                    <input class="form-control" type="file" name="Image" id="imageselect" accept=".jpeg,.png,.jpg">
                </div>
                <div class="form-group">
                    <label class="FieldInfo" for="postarea">Post:</label>
                    <textarea class="form-control" name="Post" id="postarea"></textarea>
                </div>
                <input class="btn btn-info btn-block" type="Submit" name="Submit" value="Add New Post">
            </fieldset>
        </form>
    </div>
{% endblock %}
{% block script %}
    <script>
        function showToast(type,title,message) {
            toastr[type](`${message}`, `${title}`);
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": true,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": close(),
                "showDuration": "0",
                "hideDuration": "0",
                "timeOut": "0",
                "extendedTimeOut": "0",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
        }
        {% for e in messages.error %}
        showToast('error', '', '{{ e }}');
        {% endfor %}
        {% for s in messages.success %}
        showToast('success', '', '{{ s }}');
        {% endfor %}
        //showToast('warning', '', 'This is some messagre');

        $(document).ready(function(){
            $("#addpost").addClass("active");
        });
    </script>
{% endblock %}